<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421770252027-fmbna35tb2iqkt36m92u32l8nhdnkhso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421770252027-fmbna35tb2iqkt36m92u32l8nhdnkhso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>421770252027-ogoe1rajd5r64drrbonu8ou8budpkc0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmhjo1WNctZ2IpWg4pA2WAhT1FbqoEZKI</string>
	<key>GCM_SENDER_ID</key>
	<string>421770252027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>nanny-now-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nanny-now-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421770252027:ios:38cc63d10d38bf2cf26a5e</string>
</dict>
</plist>